* {
    margin: 0;
    padding: 0;

}

ul {
    list-style: none;
}

.container {
    .top-section {
        background-color: aqua;
        padding: 15px;
        display: flex;
        justify-content: center;
        gap: 12px;

        span {
            font-size: 16px;
        }

        input {
            padding: 2px;
            font-size: 10px;
            width: 250px;
            height: 12px;
        }

        button {
            width: 170px;
            padding: 2px;
            font-size: 12px;
            background-color: orange;
            border: 0px;
            color: lemonchiffon;
        }
    }

    .middle-section {
        .first-section {
            display: flex;
            padding: 20px;

            .text,
            .list {
                width: 50%;
            }

            .text {
                h1 {
                    color: #eb9c00;
                }

                p {
                    width: 50%;
                    font-size: 13px;
                    margin-top: 10px;
                }
            }

            .list {
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;

                ul {
                    li {
                        padding: 2px;
                        border: 1px solid #ffa502;
                        width: 70px;
                        font-size: 17px;
                        text-align: center;
                        display: inline-block;
                    }
                }
            }
        }

        .second-section {
            margin-top: 25px;

            ul {
                display: flex;
                gap: 20px;
                padding: 0 40px;
                flex-wrap: wrap;
                justify-content: space-around;
            }

            li {
                .product {
                    img {
                        width: 300px;
                        height: 300px;

                    }
                }
            }
        }

        .last-section {
            margin-top: 20px;
            padding: 15px;
            display: flex;
            justify-content: center;

            button {
                border-color: orange;
                width: 140px;
            }
        }

    }


    .bottom-section {

        margin-top: 20px;
        display: flex;
        padding: 20px;


        .image {
            img {
                width: 400px;
                height: 400px;
            }
        }


        .text {

            .first {

                margin-left: 450px;

                button {
                    margin-top: 30px;
                    margin-bottom: 30px;
                    border-color: #ffa502;
                    width: 130px;
                    color: #ffa502;
                    padding: 7px;
                    font-size: 17px;
                }
            }

            .second {
                margin-left: 30px;
                font-size: 18px;
            }

            .third {
                margin-top: 70px;
                margin-left: 450px;

                button {


                    border-color: #ffa502;
                    width: 130px;
                    padding: 7px;
                    font-size: 17px;
                }
            }
        }

    }

}